h1{
    text-align: center;
    color: rgb(104, 99, 99);
}

main p{
    font-family: Arial, Helvetica, sans-serif;
}

/* ------ PRIMER CONTENEDOR DE IMAGEN VIRUS Y TEXTO DESCRIPTIVO-------- */
section{
    display: flex;
    flex-direction: row;
}


.imagenVirus{
    width: 30em;
}
article{
    width: 50%;
    margin-left: 8px;
    margin-right: 8px;
}

h2{
    text-align: center;
    color: rgb(104, 99, 99);
    text-decoration: underline;
}

/* -------CONTENEDOR DE IMAGENES DE SINTOMAS Y EL FORMULARIO--------- */
    h3{
        text-align: center;
        color: rgb(104, 99, 99);
        text-decoration: underline;
    }
.contenedorImagenesDeSintomas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedorImagenesDeSintomas img{
    width:51%;
    height: 145px;
}
#contenedorFormulario{
    display: flex;
    justify-content: center;
    border: 3px rgb(104, 99, 99) solid;
    border-radius: 15px;
    background-color: rgb(183, 221, 215);
}
.inputText{
    width: 40%;
    margin-top: 10px;
    margin-left: 20px;
}
form{
    text-transform: uppercase;
    text-align: center;
    /* line-height: 20px; */
    padding-bottom: 10px;
}
.contenedorColumnasFormulario{
    display: flex;
    flex-wrap: wrap;
}
.oculto{
    display: none;
}
/* --------------------------------------------- */

/* --------------CONTENEDOR DE MEDIDAS DE PRECAUCION -------- */
.contenedorSectionMedidasPrecaucion{
    margin-top: 30px;
}
.contenedorMedidasdePrecaucion{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

.contenedorMedidasdePrecaucion img{
    width: 25%;
}

.contenedorSectionMedidasPrecaucion{
    display: flex;
    flex-direction: column;
}

/* --------------------------------------------- */
#tituloHospitales{
    margin-top: 50px;
}
.contenedorHospitalesEspecializados{
    border: 5px grey solid;
    border-radius: 15px;
    margin:0px 3px 10px 3px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(183, 221, 215);
}
.contenedorInformacionHospital{
    width: 35%;
   
}



.contenedorMapaDelHospital{
    width: 60%;
}
.contenedorMapaDelHospital iframe{
    width: 100%;
}


