/* .contenedorFormulario{
    width: 20em;
    margin-top: 5em;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
} */
.contenedorDelMain{
    display: flex;
    justify-content: center;
    background-image: url(../Img/fondo\(posible\)-\ detalle\ de\ contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedorFormulario{

    margin-top: 20px;
    margin-bottom: 20px;
    width: 600px;
    text-align: center;
    border: 3px black solid;
    /* background-image: url(../Img/fondo-papel-carta.jpg); */
     background-color: hsl(212, 60%, 83%, 0.7) ;    
}
.formulario{
    margin-top: 15px;
    margin-bottom: 15px;

}
h1{
    font-family: cursive;
}


